@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.SchoolEntity>

<table style="width: 100%;" id="schooltable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                School Name
            </th>
            <th>
                Edit
            </th>
            <th class="SchoolMasterDelete">
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

