@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.UserWiseRightsEntity>
@{
    Layout = null;
}

<table style="width: 100%;" id="choiceList" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">

            <th>
                Module
            </th>
            <th>
                Create Status
            </th>

            <th>
                Delete Status
            </th>
            <th>
                View Status
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item1 in Model)
        {
            <tr>
                <td>
                    @item1.PageInfo.Page
                </td>
                    @if (@item1.RoleRightinfo.Createstatus == true)
                    {
                    <td>

                        Yes

                    </td>
                }
                else
                {
                    <td>

                        No

                    </td>
                }
                    @if (@item1.RoleRightinfo.Deletestatus == true)
                    {
                        <td>

                            Yes

                        </td>
                    }
                    else
                    {
                        <td>

                            No

                        </td>
                    }
                    @if (@item1.RoleRightinfo.Viewstatus == true)
                    {
                        <td>

                            Yes

                        </td>
                    }
                    else
                    {
                        <td>

                            No

                        </td>
                    }

                </tr>
            }
    </tbody>
</table>