<style type="text/css">
    .messagealert {
        width: 30%;
        position: fixed;
        top: 0px;
        left: 35%;
        z-index: 100000;
        padding: 0;
        font-size: 15px;
    }

    .card {
        position: relative;
        width: 100px;
        height: 100px;
        margin: 20px;
        overflow: hidden;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .card .content {
            position: absolute;
            bottom: -200px;
            width: 100%;
            height: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
            flex-direction: column;
            backdrop-filter: blur(15px);
            box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            transition: bottom 0.5s;
            transition-delay: 0.65s;
        }

        .card:hover .content {
            bottom: 0;
            transition-delay: 0s;
        }

        .card .content .contentBx h3 {
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 18px;
            text-align: center;
            margin: 20px 0 15px;
            line-height: 1.1em;
            transition: 0.5s;
            transition-delay: 0.6s;
            opacity: 0;
            transform: translateY(-20px);
        }

        .card:hover .content .contentBx h3 {
            opacity: 1;
            transform: translateY(0);
        }

        .card .content .contentBx h3 span {
            font-size: 12px;
            font-weight: 300;
            text-transform: initial;
        }

        .card .content .sci {
            margin: 0;
            /* position: relative; */
            /* bottom: 10px; */
            display: flex;
            padding: 0;
        }

            .card .content .sci li {
                list-style: none;
                margin: 0 10px;
                transform: translateY(40px);
                transition: 0.5s;
                opacity: 0;
            }

        .card:hover .content .sci li {
            transform: translateY(0);
            opacity: 1;
        }

        .card .content .sci li a {
            color: white;
            font-size: 24px;
        }
</style>
<div class="row">
    <div class="col-md-1">
        <div class="card">
            <div class="imgBx" runat="server" onclick="">
                <a onclick = "GoToList(0)" href="#" style="color:#673ab7">All</a>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card">
            <div class="imgBx" runat="server" onclick="">
                <a onclick = "GoToList(1)" href="#" style="color:#673ab7">Morning</a>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card">
            <div class="imgBx" runat="server" onclick="">
                <a onclick = "GoToList(2)" href="#" style="color:#673ab7">Afternoon</a>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card">
            <div class="imgBx" runat="server" onclick="">
                <a onclick = "GoToList(3)" href="#" style="color:#673ab7">Evening</a>
            </div>
        </div>
    </div>  
    <div class="col-md-1">
        <div class="card">
            <div class="imgBx" runat="server" onclick="">
                <a onclick = "GoToList(4)" href="#" style="color:#673ab7">Morning2</a>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card">
            <div class="imgBx" runat="server" onclick="">
                <a onclick = "GoToList(5)" href="#" style="color:#673ab7">Afternoon2</a>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card">
            <div class="imgBx" runat="server" onclick="">
                <a onclick = "GoToList(6)" href="#" style="color:#673ab7">Evening2</a>
            </div>
        </div>
    </div> 
    <div class="col-md-1">
        <div class="card">
            <div class="imgBx" runat="server" onclick="">
                <a onclick = "GoToList(7)" href="#" style="color:#673ab7">Morning3</a>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card">
            <div class="imgBx" runat="server" onclick="">
                <a onclick = "GoToList(8)" href="#" style="color:#673ab7">Afternoon3</a>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card">
            <div class="imgBx" runat="server" onclick="">
                <a onclick = "GoToList(9)" href="#" style="color:#673ab7">Evening3</a>
            </div>
        </div>
    </div>
</div>