@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.BranchEntity>

<table style="width: 100%;" id="branchtble" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">

            <th>
                Branch Name
            </th>
            <th>
                Alias Name
            </th>
            <th style="text-align:center;">
                Logo
            </th>
            <th class="textalign">
                Status
            </th>
            <th class="textalign">
                Edit
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>