
@{
                /**/

                ViewBag.Title = "Standard Wise Chart";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Standard Wise Chart</h3>
                </div>
                <div class="box-body" style="padding:5px">
                    @{
                        Html.RenderPartial("Filter");
                    }
                </div>
            </div>
        </section>
        <section class="col-md-12">
            <div class="box box-primary" id="StandardDiv">
                <div class="box-header with-border">
                    <h3 class="box-title">Standard</h3>
                </div>
                <div class="box-body" id="StandardData" style="margin-right:3%">
                    @{
                        Html.RenderPartial("FilteredData");
                    }
                </div>
            </div>
        </section>
        <section class="col-md-12">
            <div class="box box-warning" id="ChartDiv">
                <div class="box-header with-border">
                    <h3 class="box-title">Chart</h3>
                </div>
                <div class="box-body" id="ChartData">
                    @{
                        Html.RenderPartial("Chart");
                    }
                </div>
            </div>
        </section>
    </div>
    @section Scripts {
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="~/scripts/app/standardwise.js"></script>
        @*<script>
                $(document).ready(function () {

                    $('#usertable').DataTable({
                        "bPaginate": true,
                        "bLengthChange": false,
                        "bFilter": true,
                        "bInfo": true,
                        "bAutoWidth": true
                    });
                });
            </script>*@
        <script type="text/javascript">
            function ConfirmationDialog() {
                if (confirm("Are you sure to continue?"))
                    return true;
                else
                    return false;
            }
        </script>

    }


</section>

