@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.CircularEntity>

<table style="width: 100%;" id="circulartble" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Title
            </th>
            <th style="text-align:center;">
                Download
            </th>
            <th class="textalign">
                Edit
            </th>
            <th class="textalign">
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
