@model Ashirvad.Data.Model.AttendanceMaintenanceModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="messagealert" id="alert_container"></div>
        <section class="col-md-12">
            <div class="box box-warning">
                <div class="box-body"  style="padding:10px">
                    @{
                        Html.RenderPartial("Create", new ViewDataDictionary(Model.AttendanceInfo));
                    }
                </div>
            </div>
        </section>
        <section class="col-md-12">
            <div class="box box-primary">
                <div class="box-body" id="AttendanceData"  style="padding:10px">
                    @{
                        Html.RenderPartial("Manage", new ViewDataDictionary(Model.StudentData));
                    }
                </div>
            </div>
        </section>
    </div>
    @section Scripts {
        <script type="text/javascript" src="~/scripts/app/attendance.js"></script>
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
        <script>
            $(document).ready(function () {

                $('#studenttbl').DataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": true,
                    "bAutoWidth": true
                });

            });
        </script>
        <script type="text/javascript">
            function ConfirmationDialog() {
                if (confirm("Are you sure to continue?"))
                    return true;
                else
                    return false;
            }
        </script>
    }
</section>

