@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.AboutUsEntity>
<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Description
            </th>

            
            <th>
                Header Image
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.BranchInfo.BranchName
                @Html.HiddenFor(x => item.AboutUsID)
            </td>
           
            <td>
                <img src="~/ThemeData/images/Default.png" id="headerImg" style="height:40px;width:40px;margin-left:40px;" />
            </td>
            <td>
                <a href="@Url.Action("AboutUsMaintenance", "AboutUs",new { aboutID = item.AboutUsID, detailid = item.detailEntity.DetailID})">
                    <img src="~/ThemeData/images/viewIcon.png" />
                </a>
            </td>
            <td>
                <a href="#" onclick="RemoveaboutUs(@item.AboutUsID);">
                    <img src="~/ThemeData/images/delete.png" />
                </a>
            </td>
        </tr>
    }
</table>

