@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.TestEntity>
<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Competiton Name
            </th>
            <th>
                Prize
            </th>
            <th>
                Branch
            </th>
            <th>
                Student
            </th>
            <th class="TestPaperEntryCreate">
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>National Level</td>
            <td>2nd Prize</td>
            <td>Alkapuri</td>
            <td>Smeet</td>
            <td><img src="~/ThemeData/images/viewIcon.png" /></td>
        </tr>
    </tbody>

</table>


