@model Ashirvad.Data.Model.StudentMaintenanceModel

@{
    ViewBag.Title = "Manage Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-md-12">
            @{
                Html.RenderPartial("Filter");
            }
        </div>
        <div class="col-md-12">
            <div class="box box-primary">

                <div class="box-header with-border">
                    <h3 class="box-title">Manage Student</h3>
                    <div class="box-body" id="studentData">
                        <h3 hidden id="exceltitle">Student</h3>
                        <button type="button" onclick="Exportdata('ManageStudent')" class="btn btn-success"><i class="fa fa-file-excel-o" style="color:white"></i>  Export</button>
                        @{
                            Html.RenderPartial("Manage", new ViewDataDictionary(Model.StudentData));
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @*<script src="~/ThemeData/plugins/jQuery/jquery-2.2.3.min.js"></script>*@
        <script type="text/javascript" src="~/scripts/app/managestudent.js"></script>
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
        @*<script>
                $(document).ready(function () {

                    $('#Studenttable').DataTable({
                        "bPaginate": true,
                        "bLengthChange": false,
                        "bFilter": true,
                        "bInfo": true,
                        "bAutoWidth": true,
                        "order": [[0, "desc"]]
                    });
                });
            </script>*@
        <script type="text/javascript">
            function ConfirmationDialog() {
                if (confirm("Are you sure to continue?"))
                    return true;
                else
                    return false;
            }
        </script>

    }

</section>

