@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.StudentEntity>

@{
    Layout = null;
}

<div class="col-md-12">
    <table style="width: 100%;" id="Studenttable" class="table table-striped dataTable no-footer">
        <thead>
            <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue;padding: 5px !important;">
                <th>
                    Student Photo
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Admission Date
                </th>
                <th>
                    Standard
                </th>
                <th>
                    Batch Time
                </th>
                <th>
                    Contact No
                </th>
                <th>
                    Status
                </th>
                <th class="ManageStudentMasterCreate">
                    Edit
                </th>
            </tr>
        </thead>
           <tbody>

           </tbody>
    </table>
</div>

<script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
