@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.BranchWiseRightEntity>

<table style="width: 100%;" id="branchrightstable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th style="width:5%">Page Details</th>
            <th>
                Package
            </th>
            <th>
                Branch Name
            </th>
            <th>
                Edit
            </th>
            @*<th>
                Delete
            </th>*@
        </tr>
    </thead>
    <tbody>
        
    </tbody>

</table>

<script type="text/javascript">
    //Assign Click event to Plus Image.

    $("body").on("click", "img[src*='plus.png']", function () {
        $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
        $(this).attr("src", "../ThemeData/images/minus.png");
    });
    //Assign Click event to Minus Image.
    $("body").on("click", "img[src*='minus.png']", function () {
        $(this).attr("src", "../ThemeData/images/plus.png");
        $(this).closest("tr").next().remove();
    });
</script>





