@model Ashirvad.Data.Model.UserPermissionMaintenanceModel

@{
    /**/

    ViewBag.Title = "User Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="messagealert" id="alert_container"></div>
        <section class="col-md-12">
            <div class="box box-warning">
                <div class="box-body" style="padding:5px;padding-top:1px">
                    @{
                        Html.RenderPartial("Create", new ViewDataDictionary(Model.UserInfo));
                    }
                </div>
            </div>
        </section>

        <section class="col-md-12">
            <div class="box box-primary" style="padding:5px;padding-top:0px!important">
            
                    @{
                        Html.RenderPartial("Manage", new ViewDataDictionary(Model.RolesData));
                    }
            </div>
        </section>
    </div>

    @section Scripts {
        <script type="text/javascript" src="~/scripts/app/userpermission.js"></script>
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {

                $('#studenttbl').DataTable({
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": true,
                    "bAutoWidth": true
                });

            });
        </script>
        <script type="text/javascript">
            function ConfirmationDialog() {
                if (confirm("Are you sure to continue?"))
                    return true;
                else
                    return false;
            }
        </script>

    }
</section>


