@model List<Ashirvad.Data.FacultyEntity>

<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">

            <th>
                Faculty Name
            </th>

            <th>
                Board Type
            </th>

            <th>
                Standard
            </th>
            <th>
                Subject
            </th>
            @*<th>
                    Branch Name
                </th>*@
            @*<th>
                    Status
                </th>*@

            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>





</table>