@model List<Ashirvad.Data.FacultyEntity>

<table style="width: 100%;" id="facultytable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">

            <th>
                Faculty Name
            </th>
            <th>
                Faculty Image
            </th>
            <th>
                Course Name
            </th>
            <th>
                Standard
            </th>
            <th>
                Subject
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>
    
</table>