<div class="row">
    <div class="form-group">
        <div class="col-md-5">
            @Html.Label("UPI ID", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            @Html.TextBox("name", null, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="col-md-7">
            @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            @Html.DropDownList("Branch", new List<SelectListItem>
                           {
                           new SelectListItem{ Text="---Select-Branch---", Value = "-1" },
                            new SelectListItem{ Text="Branch", Value = "1" },
                            }, new { @class = "form-control", id = "Branch" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12" style="text-align: right;">

        <asp:Button ID="btnSave" runat="server" Text="Save" TabIndex="2" CssClass="btn btn-primary" OnClick="btnSave_Click" />
        <asp:Button ID="btnUpdate" Visible="false" runat="server" CausesValidation="false" Text="Update" CssClass="btn btn-primary" OnClick="btnUpdate_Click" />
        <asp:Button ID="btnDelete" runat="server" Text="Cancel" TabIndex="3" CssClass="btn btn-danger" OnClick="btnDelete_Click" CausesValidation="false" />&nbsp;&nbsp;&nbsp;
    </div>
</div>
