@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.HomeworkEntity>

<table style="width: 100%;" id="homeworktable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Date
            </th>
            <th>
                Standard
            </th>
            <th>
                Subject
            </th>
            <th>
                Batch Time
            </th>
            <th  class="textalign">
                Homework
            </th>
            <th class="HomeworkCreate">
                Edit
            </th>
            <th class="HomeworkDelete">
                Delete
            </th>
            <th  class="textalign">
                Show Homewok
            </th>
        </tr>
    </thead>
    <tbody></tbody>
  
</table>


