﻿@model Ashirvad.Data.Model.LibraryMaintenanceModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="messagealert" id="alert_container"></div>
    <div class="row">
        <section class="col-md-5">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title" style="margin-bottom:5px">Library Book Entry</h3>

                    @{
                        Html.RenderPartial("Create", new ViewDataDictionary(Model.LibraryInfo));
                    }
                </div>
            </div>
        </section>
        <section class="col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border" style="overflow-x:scroll">
                    <h3>Library Book Details</h3>
                    @{
                        Html.RenderPartial("Manage", new ViewDataDictionary(Model.LibraryData));
                    }
                </div>
            </div>
        </section>
    </div>

    @section Scripts {

       
        <script type="text/javascript" src="~/scripts/app/library.js"></script>
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>

        <script type="text/javascript">
            function ConfirmationDialog() {
                if (confirm("Are you sure to continue?"))
                    return true;
                else
                    return false;
            }
        </script>
    }
</section>
