
<table style="width: 100%;" id="batchtable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">

            <th>
                Sr. No.
            </th>
            <th>
                Batch Name
            </th>
            <th>
                Day
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th class="BatchMasterCreate">
                Edit
            </th>
            <th class="BatchMasterDelete">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>
                   1
                </td>
                <td>
                    Batch 1
                </td>
                <td>
                    Monday
                </td>
                <td>
                  06:30 
                </td>
                <td>
                    07:30
                </td>
                <td>
                    <a href="#">
                        <img src="~/ThemeData/images/viewIcon.png" />
                    </a>
                </td>
                <td class="BatchMasterCreate">
                    <a style="margin-left:20px;" href="#">
                        <img src="~/ThemeData/images/delete.png" />
                    </a>
                </td>
           </tr> 
            <tr>
                <td>
                    2
                </td>
                <td>
                    Batch 1
                </td>
                <td>
                    Tuesday
                </td>
                <td>
                    09:30
                </td>
                <td>
                    10:30
                </td>
                <td>
                    <a href="#">
                        <img src="~/ThemeData/images/viewIcon.png" />
                    </a>
                </td>
                <td class="BatchMasterCreate">
                    <a style="margin-left:20px;" href="#">
                        <img src="~/ThemeData/images/delete.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Batch 1
                </td>
                <td>
                    Wednesday
                </td>
                <td>
                    12:30
                </td>
                <td>
                    14:30
                </td>
                <td>
                    <a href="#">
                        <img src="~/ThemeData/images/viewIcon.png" />
                    </a>
                </td>
                <td class="BatchMasterCreate">
                    <a style="margin-left:20px;" href="#">
                        <img src="~/ThemeData/images/delete.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Batch 1
                </td>
                <td>
                    Friday
                </td>
                <td>
                    15:30
                </td>
                <td>
                    17:00
                </td>
                <td>
                    <a href="#">
                        <img src="~/ThemeData/images/viewIcon.png" />
                    </a>
                </td>
                <td class="BatchMasterCreate">
                    <a style="margin-left:20px;" href="#">
                        <img src="~/ThemeData/images/delete.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Batch 1
                </td>
                <td>
                    Friday
                </td>
                <td>
                    18:00
                </td>
                <td>
                    20:00
                </td>
                <td>
                    <a href="#">
                        <img src="~/ThemeData/images/viewIcon.png" />
                    </a>
                </td>
                <td class="BatchMasterCreate">
                    <a style="margin-left:20px;" href="#">
                        <img src="~/ThemeData/images/delete.png" />
                    </a>
                </td>
            </tr>
        
    </tbody>
</table>






