@model Ashirvad.Data.Model.PackageRightMaintenanceModel

@{
    ViewBag.Title = "Package Rights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="messagealert" id="alert_container"></div>
    <div class="row">
        <section class="col-md-6">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Package Right Entry</h3>
                </div>
                <div class="box-body">
                    @{
                        Html.RenderPartial("Create", new ViewDataDictionary(Model.PackageRightsInfo));
                    }
                </div>
            </div>
        </section>
        <section class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="col-md-6">Package Right Details</h3>

                    @{
                        Html.RenderPartial("Manage", new ViewDataDictionary(Model.PackageRightsData));
                    }
                </div>
            </div>
        </section>
        <section class="col-md-12">
            <div class="col-sm-12">
                <div class="info-box bg-red-gradient" style="min-height:70px !important;">
                    <span class="info-box-icon" style="height: 70px !important;width:75px !important;line-height:70px !important;">
                        <i class="ion ion-information-circled"></i>
                    </span>
                    <div class="info-box-content" style="min-height: 60px !important;">
                        <br />
                        <span class="info-box-text" style="font-weight: 600 !important; font-size: initial !important; min-height: 30px !important; ">Note:- If providing create or delete rights than view rights are Mandatory.</span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @section Scripts {
        @*<script src="~/ThemeData/plugins/jQuery/jquery-2.2.3.min.js"></script>*@
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="~/scripts/app/packageright.js"></script>
        <script>
                $('#choiceList').DataTable({
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "bAutoWidth": true,
                    "scrollY": '30vh',
                    "scrollCollapse": true
                });
            </script>
        <script type="text/javascript">
            function ConfirmationDialog() {
                if (confirm("Are you sure to continue?"))
                    return true;
                else
                    return false;
            }
        </script>

    }

</section>

