<div class="row">
    <div class="form-group">
        @if (SessionContext.Instance.LoginUser.UserType == Ashirvad.Common.Enums.UserType.SuperAdmin)
        {
            <div class="col-md-6">
                @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.DropDownList("Branch", new List<SelectListItem>
                               {
                               new SelectListItem{ Text="---Select-Branch---", Value = "-1" },
                                new SelectListItem{ Text="Branch", Value = "1" },
                                }, new { @class = "form-control", id = "Branch" })
            </div>
        }
        <div class="col-md-6">
            @Html.Label("Select Student", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            <select name="StudentName" id="StudentName" class="form-control requiredDDL select2" alt="Branch">
                <option value="0">--Select Student--</option>
            </select>
        </div>
    </div>
</div>



