
@{
    ViewBag.Title = "Progress Report Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-warning" style="padding:5px">
                <div class="box-header with-border">
                    <h3 class="box-title">Progress Report Chart</h3>
                    </div>
                    <div class="box-body">
                        @{
                            Html.RenderPartial("Filter");
                        }
                    </div>
                </div>
</section>
        <section class="col-md-12">
            <div class="box box-primary" id="PersonalDiv">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Personal Info
                    </h3>
                </div>
                <div class="box-body" id="PersonalData">
                    @{
                        Html.RenderPartial("FilteredData");
                    }
                </div>
            </div>
        </section>
        <section class="col-md-12">
            <div class="box box-primary" id="ReportDiv">
                <div class="box-body" id="ReportData">
                    @{
                        Html.RenderPartial("Report");
                    }
                </div>
            </div>
        </section>
        <section class="col-md-12">
            <div class="box box-primary" id="TestDiv">
                <div class="box-body" id="TestData">
                    @{
                        Html.RenderPartial("Test");
                    }
                </div>
            </div>
        </section>
        <section class="col-md-12">
            <div class="box box-primary" id="HomeworkDiv">
                <div class="box-body" id="HomeworkData">
                    @{
                        Html.RenderPartial("Homework");
                    }
                </div>
            </div>
        </section>
    </div>
    @section Scripts {
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="~/scripts/app/progresschart.js"></script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    }
</section>

