@model List<Ashirvad.Data.Model.ChartBranchEntity>
@{
    /**/

    Layout = null;
}

<h3 style="text-align: center;margin-top:1%">Absent / Present Report</h3>
@if (Model != null)
{
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3">
                <div class="courses-container" style="width: 150px">
                    <div class="course">
                        <div class="course-info" style="text-align: center">
                            <span style="opacity: 0.6; letter-spacing: 0.5px; text-transform: uppercase; margin: 5px 0 0 0; font-size: 12px">Total Lectures</span><br />
                            <a onclick="GoToAttendance(0)" href="#" style="color:red">@Model[0].y</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="courses-container" style="width: 150px">
                    <div class="course">
                        <div class="course-info" style="text-align: center">
                            <span style="opacity: 0.6; letter-spacing: 0.5px; text-transform: uppercase; margin: 5px 0 0 0; font-size: 12px">Present Lectures</span><br />
                            <a onclick="GoToAttendance(1)" href="#" style="color:red">@Model[1].y</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="courses-container" style="width: 150px">
                    <div class="course">
                        <div class="course-info" style="text-align: center">
                            <span style="opacity: 0.6; letter-spacing: 0.5px; text-transform: uppercase; margin: 5px 0 0 0; font-size: 12px">Absent Lectures</span><br />
                            <a onclick="GoToAttendance(2)" href="#" style="color:red">@Model[2].y</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="col-md-6">
    <div id="Reportcontainer" style="height: 200px; width: 100%;"></div>
</div>