
@{
    ViewBag.Title = "Attendance By Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Personal Info
                    </h3>
                </div>
                <div class="box-body" id="PersonalData">
                    @{
                        Html.RenderPartial("PersonalInfo");
                    }
                </div>
            </div>
        </section>
        <section class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Attendance Detail
                    </h3>
                </div>
                <div class="box-body" id="FilteredData" style="margin-right:3%">
                    @{
                        Html.RenderPartial("FilteredData");
                    }
                </div>
            </div>
        </section>
    </div>
    @section Scripts {
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="~/scripts/app/attendancebystudent.js"></script>
    }
</section>

