@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.TestEntity>

<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Sr. No
            </th>
            <th>
                Student Name
            </th>
            <th>
                Branch Name
            </th>
            <th>
                Rank
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Krishna Patel</td>
            <td>Manjalpur</td>
            <td><input id="StudentName" name="StudentName" type="text" value="" /></td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Smeet Patel</td>
            <td>Abc Classes</td>
            <td><input id="StudentName" name="StudentName" type="text" value="" /></td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Grisha Patel</td>
            <td>Ashirvad</td>
            <td><input id="StudentName" name="StudentName" type="text" value="" /></td>
        </tr>
    </tbody>
</table>
