
<div id="ATodocontainer" style="min-width: 310px; height:400px; margin: 0 auto">
    <table style="width:98%;margin:5px; " id="categorytable" class="table">
        <thead>
            <tr style="background-color:aliceblue;font-style:inherit;color:black">
                <th style="width:100px">
                   No
                </th>
                <th>
                    Title
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Circular 1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Circular 2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Circular 3</td>
            </tr>
        </tbody>
    </table>
</div>

