
<div id="ARemindercontainer" style="min-width: 310px; height:200px; margin: 0 auto; overflow:auto">
    <table style="width:98%;margin:5px; " id="remindertable" class="table">
        <thead>
            <tr style="background-color:aliceblue;font-style:inherit;color:black">
                <th>
                    Reminder Time
                </th>
                <th style="text-align:center;">
                    Remark
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

