

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
    ShowLoader();
    showchartAstdcontainer();
    function showchartAstdcontainer() {
        var postCall = $.post(commonData.Home + "AllBranchStandardWithCountByBranch");
        postCall.done(function (response) {
            HideLoader();
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Branch wise student'
                },
                xAxis: {
                    type: 'category'
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                series: response.branchstandardlist
                //drilldown: {
                //    series: response.branchstandardlist
                //},
            });
        }).fail(function () {
            HideLoader();
            ShowMessage("An unexpected error occcurred while processing request!", "Error");
        });
    }
</script>
