@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.CourseEntity>
<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Course Name
            </th>
            <th>
                Image
            </th>
            <th>
                Edit
            </th>
            @*<th style="text-align:center;">
                Delete
            </th>*@
        </tr>
    </thead>
    <tbody></tbody>
    
</table>


