
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <section class="col-md-12" >
            <div class="box box-warning" style="padding:5px">
                <div class="box-body">
                    @{
                        Html.RenderPartial("Filter");
                    }
                </div>
            </div>
        </section>
        <section class="col-md-12">
            <div class="box box-primary" id="StudentDiv">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Student List
                    </h3>
                </div>
                <div class="box-body" id="StudentData">
                    @{
                        Html.RenderPartial("FilteredData");
                    }
                </div>
            </div>
        </section>
    </div>
    @section Scripts {
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="~/scripts/app/listofstudent.js"></script>
        @*<script>
                $(document).ready(function () {

                    $('#usertable').DataTable({
                        "bPaginate": true,
                        "bLengthChange": false,
                        "bFilter": true,
                        "bInfo": true,
                        "bAutoWidth": true
                    });
                });
            </script>*@

    }


</section>

