@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.PageEntity>


<table style="width: 100%;" id="pagetble" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Page Name
            </th>
            <th style="text-align:center;">
                Edit
            </th>
            <th style="text-align:center;">
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

