@using Ashirvad.Web.Controllers;
﻿@model List<Ashirvad.Data.BranchCourseEntity>

<table style="width: 100%;" id="subcategorytbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th style="width:5%">Course Details</th>
            <th>
                Branch Name
            </th>
            @*<th>
                Edit
            </th>
            <th>
                Delete
            </th>*@
        </tr>
    </thead>


    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var item in Model[0].BranchCourseData)
            {

                <tr>


                    <td>

                        <img src="~/ThemeData/images/plus.png" height="30" />
                        <div style="display:none">
                            <div style="max-height: 200px; overflow-y: scroll !important">
                                <table style="width: 100%;" id="subcategorytbl2" class="table table-bordered dataTable no-footer">
                                    <thead>
                                        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">

                                            <th>
                                                Course
                                            </th>
                                            <th>
                                                Selected
                                            </th>                                            

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item1 in Model)
                                        {
                                            string Status = item1.iscourse == true ? "YES" : "NO";

                                            <tr>

                                                @if (item.branch.BranchID == item1.branch.BranchID)
                                                {
                                                    <td>
                                                        @item1.course.CourseName
                                                    </td>
                                                    <td>
                                                        @Status
                                                    </td>

                                                    
                                                }



                                            </tr>

                                        }
                                    </tbody>



                                </table>
                            </div>

                        </div>
                    </td>
                    <td>
                        @item.branch.BranchName
                    </td>

                    @*<td>
                        <a href="@Url.Action("CourseMaintenance", "BranchCourse", new { @courseID = item.branch.BranchID })">
                            <img src="/ThemeData/images/viewIcon.png" />
                        </a>
                    </td>


                    <td>
                        <a href="javascript:void(0)" onclick="RemoveCourse('@item.branch.BranchID')">
                            <img src="~/ThemeData/images/Delete.png" />
                        </a>
                    </td>*@

                </tr>
            }
        }
    </tbody>

</table>

<script type="text/javascript">
    //Assign Click event to Plus Image.

    $("body").on("click", "img[src*='plus.png']", function () {
        $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
        $(this).attr("src", "../ThemeData/images/minus.png");
    });
    //Assign Click event to Minus Image.
    $("body").on("click", "img[src*='minus.png']", function () {
        $(this).attr("src", "../ThemeData/images/plus.png");
        $(this).closest("tr").next().remove();
    });
</script>




