@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.TestEntity>

<table style="width: 100%;" id="competitionpapertable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Competition Date
            </th>
            <th>
                Competition Time
            </th>
            <th>
                Competition Remarks
            </th>
            <th>
                Total Marks
            </th>
            <th style="text-align:center;" class="textalign">
                Document / Link
            </th>
            <th class="TestPaperEntryCreate">
                Edit
            </th>
            <th style="text-align:center;" class="textalign">
                View Student AnswerSheet
            </th>
            <th class="TestPaperEntryDelete">
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>
   
</table>


