@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.RoleRightsEntity>
<table style="width: 100%;" id="Rolerightstable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th style="width:5%">Role Details</th>
            <th>
                Role
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>

    <tbody>

        @*@for (var i = 1; i < 20; i++)
        {

            <tr>
                <td>

                    <img src="~/ThemeData/images/plus.png" height="20" />
                    <div style="display:none">
                        <div style="max-height: 200px; overflow-y: scroll !important">
                            <table style="width: 100%;" id="subcategorytbl2" class="table table-bordered dataTable no-footer">
                                <thead>
                                    <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">

                                        <th>
                                            Page
                                        </th>
                                        <th>
                                            Create Status
                                        </th>

                                        <th>
                                            Delete Status
                                        </th>
                                        <th>
                                            View Status
                                        </th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @for (var item = 1; item < 21; item++)
                                    {

                                        <tr>


                                            <td>
                                                Page @item
                                            </td>
                                            <td>
                                                True
                                            </td>

                                            <td>
                                                True
                                            </td>
                                            <td>
                                                True
                                            </td>
                                        </tr>

                                    }
                                </tbody>



                            </table>
                        </div>

                    </div>
                </td>
                <td>
                    Role @i
                </td>

                <td>
                    <a href="#">
                        <img src="/ThemeData/images/viewIcon.png" />
                    </a>
                </td>


                <td>
                    <a href="#">
                        <img src="~/ThemeData/images/Delete.png" />
                    </a>
                </td>

            </tr>
        }*@

    </tbody>

</table>

<script type="text/javascript">
    //Assign Click event to Plus Image.

    $("body").on("click", "img[src*='plus.png']", function () {
        $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
        $(this).attr("src", "../ThemeData/images/minus.png");
    });
    //Assign Click event to Minus Image.
    $("body").on("click", "img[src*='minus.png']", function () {
        $(this).attr("src", "../ThemeData/images/plus.png");
        $(this).closest("tr").next().remove();
    });
</script>



