@model Ashirvad.Data.Model.PaymentRegisterDataModel
@{
    ViewBag.Title = "Online Payment List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Online Payment List</h3>
                </div>
                <div class="box-body" style="padding:5px">
                    @{
                        Html.RenderPartial("Filter");
                    }
                </div>
            </div>
        </section>
        <section class="col-md-12">
            <div class="box box-warning" id="PayDiv">
              
                <div class="box-body" id="PaymentData">
                    @{
                        Html.RenderPartial("Manage", new ViewDataDictionary(Model.registerEntities));
                    }
                </div>
            </div>
        </section>
    </div>

    @section Scripts {
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script src="~/scripts/app/onlinepayment.js"></script>

        <script type="text/javascript">
            function ConfirmationDialog() {
                if (confirm("Are you sure to continue?"))
                    return true;
                else
                    return false;
            }
        </script>
    }
</section>

