@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.LinkEntity>

<table style="width: 100%;" id="youtubetable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Standard
            </th>

            <th>
                Title
            </th>

            <th>
                Link
            </th>

            <th>
                Edit
            </th>
            <th class="YoutubeVideosDelete">
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


