﻿@model Ashirvad.Data.Model.GalleryMaintenanceModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1><i class="fa fa-edit" style="margin-right: 5px;"></i>Photos</h1>
</section>
<hr />

<section class="content">
    <div class="messagealert" id="alert_container"></div>
    <div class="row">
        <section class="col-md-5">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Photos Entry<h3>
                </div>
                <div class="box-body">
                    @{
                        Html.RenderPartial("Create", new ViewDataDictionary(Model.GalleryInfo));
                    }
                </div>
            </div>
        </section>
        <section class="col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Photos Details<h3>
                </div>
                <div class="box-body">
                    @{
                        Html.RenderPartial("Manage", new ViewDataDictionary(Model.GalleryData));
                    }
                </div>
            </div>
        </section>
    </div>
    @section Scripts {
        <script src="~/scripts/app/image.js"></script>
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#studenttbl').DataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": true,
                    "bAutoWidth": true
                });
            });
        </script>
        <script type="text/javascript">
            function ConfirmationDialog() {
                if (confirm("Are you sure to continue?"))
                    return true;
                else
                    return false;
            }
        </script>

    }


</section>

