﻿@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.GalleryEntity>

<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Image
            </th>

            <th>
                Description
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/ThemeData/images/Default.png" id="Img" style="height:50px;width:50px" />
                @Html.HiddenFor(x => item.UniqueID)
            </td>
            <td>
                @item.Remarks
            </td>
            <td>
                <a href="@Url.Action("PhotosMaintenance", "Photos", new { photoID = item.UniqueID})">
                    <img src="~/ThemeData/images/viewIcon.png" />
                </a>
            </td>
            <td>
                <a href="#" onclick="RemovePhotos(@item.UniqueID);">
                    <img src="~/ThemeData/images/delete.png" />
                </a>
            </td>
        </tr>
    }

</table>


